<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Official Play </title>
    <link rel="stylesheet" href="./cricindex.css">
    <link rel="shortcut icon" href="./360_F_283900902_TzAgNIBzbuR0RJ6DKOGilJi05YZ5GNPZ-removebg-preview.png" type="image/x-icon">
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,500;1,900&family=Ubuntu:wght@300;400&family=Varela+Round&display=swap" rel="stylesheet">
</head>
<body>
    
    <nav>
        <img src="./360_F_283900902_TzAgNIBzbuR0RJ6DKOGilJi05YZ5GNPZ-removebg-preview.png" alt="error">
        <h1 class="navelements"><a href="#">Race tracks</a></h1>
        <h1 class="navelements"><a href="">Car collections</a> </h1>
        <h1 class="navelements"> <a href="">Venues</a></h1>
        <h1 class="navelements"><a href="">Driver's Info</a></h1>
        <h1 class="navelements"><a href="">About us</a></h1>
    </nav>
    <video autoplay  loop muted src="/Webprojetcs/Sports web/Studio_Project_V2.mp4"></video>


    <div id="cursor"></div>
    <div id="cursorblur"></div>
    <div id="main">
        <div id="page1">
            <h1>GET. SET. GO</h1>
            <h2>Welcome to Racing family club </h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam esse soluta totam perferendis. Eligendi rem ipsam laborum, vitae pariatur mollitia.</p>
            <div id="arrow"><i class="fa-solid fa-arrow-down" style="color: #ffffff;"></i></div>
        </div>
        <div id="page2">
            <div id="scroller">
                <div id="scroller-1">
                    <h4>RACE TRACKS</h4>
                       <h4>CAR COLLECTIONS</h4> 
                        <h4>VENUES</h4>
                       <h4> DRIVER'S INFO</h4>
                        <h4>ABOUT US</h4>
                </div>
                <!-- <div id="scroller-1">
                    <h4>RACE TRACKS</h4>
                    <h4>CAR COLLECTIONS</h4> 
                     <h4>VENUES</h4>
                    <h4> DRIVER'S INFO</h4>
                     <h4>ABOUT US</h4>
                </div> -->
            </div>
        </div>
        <div id="middle">
            <img src="Best-American-Race-Cars-In-History-00-Hero-1074x711.jpg" alt="">

            <div id="aboutus">
                <h3>ABOUT US</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum veritatis soluta laborum blanditiis cupiditate perferendis ab sint molestias delectus consequuntur! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem, ab?</p>
            </div>
            <img src="images.jpeg" alt="">
        </div>

        <div id="cards">
            <div class="card" id="card1">
                <div class="overlay">
                    <h4>TOP CARS</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam tempore omnis voluptatibus aliquid quasi dolor impedit! Libero autem consectetur blanditiis.</p>
                </div>
            </div>
            <div class="card" id="card2">
                <div class="overlay">
                    <h4>ULTIMATE TRACKS</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam tempore omnis voluptatibus aliquid quasi dolor impedit! Libero autem consectetur blanditiis.</p>
                </div>
            </div>
            <div class="card" id="card3">
                <div class="overlay">
                    <h4>FORMULA CARS</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam tempore omnis voluptatibus aliquid quasi dolor impedit! Libero autem consectetur blanditiis.</p>
                </div>
            </div>
        </div>
        <div id="redbox">
            
            <h4>If you’re in control, you’re not going fast enough.</h4>
            <p>~James Williams</p>
           
        </div>

        <div id="page3">
            <img src="startcomma.png" id="colon1" alt="lol">
            <img src="endcomma.png" id="colon2" alt="lol">
            <p>If you can leave two black stripes from the exit of one corner to the braking zone of the next, you have enough horsepower.</p>
        </div>

        <div id="page4">
            
            <h1>WHAT ARE YOU WAITING FOR?</h1>

            <div class="elem" id="elem1">
              <h2>BEST DRIVERS</h2>
            <img src="d1.jpeg" alt="">  
            </div>
            <div class="elem" id="elem2">
               <h2>TRACKS </h2>
            <img src="t1.jpg" alt=""> 
            </div>
            <div class="elem" id="elem3">
                <h2>FORMULA 1</h2>
            <img src="f1.jpg" alt="">
            </div>
        </div>

        <footer>
                <div id="image"><img src="360_F_283900902_TzAgNIBzbuR0RJ6DKOGilJi05YZ5GNPZ-removebg-preview.png" alt=""></div>
                <div id="mainele">
                    <h2>HOME</h2>
                    <h2>CARS COLLECTION</h2>
                    <h2>ABOUT US</h2>
                </div>
                <div id="elements">
                    <ul>
                        <li>DRIVERS</li>
                        <li>CARS</li>
                        <li>TRACKS</li>
                        <li>FORMULA 1</li>
                        <li>ABOUT US</li>
                    </ul>
                </div>
                <div id="social">
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-whatsapp"></i>
                </div>
        </footer>

    </div>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js" integrity="sha512-16esztaSRplJROstbIIdwX3N97V1+pZvV33ABoG1H2OyTttBxEGkTsoIVsiP1iaTtM8b3+hu2kB6pQ4Clr5yug==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js" integrity="sha512-Ic9xkERjyZ1xgJ5svx3y0u3xrvfT/uPkV99LBwe68xjy/mGtO+4eURHZBW2xW4SZbFrF1Tf090XqB+EVgXnVjw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://kit.fontawesome.com/2da6a99863.js" crossorigin="anonymous"></script>
    
    <script src="sports.js"></script>
</body>
</html>